@import "tailwindcss";

body {
  background: #fdf8f0;
  font-family: "Segoe UI", sans-serif;
}

.mortgage-pdf-page {
  box-sizing: border-box;

  width: 816px;
  min-width: 816px;
  max-width: 816px;

  height: 1056px;
  min-height: 1056px;
  max-height: 1056px;

  overflow: hidden;
  flex: none;
}